@import "normalize-rails";


@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
@import "active_admin/mixins";

@import "font_awesome5_webfont";
@import 'font_awesome5.css';

@import "active_admin/base";
//@import "arctic_admin/base";
//@import "active_material";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$skinMainFirstColor: #375980 !default;
$skinMainSecondColor: #61c1ca !default;
$skinBorderWindowColor: #61c1ca !default;
$skinBorderRadius: 5px!default;
$skinTablePadding: 5px!default;
@import "wigu/active_admin_theme";

//@import "active_admin_flat_skin";
@import "activeadmin_reorderable";

h3 {
  margin-block-start: 0;
}

div.flash_alert {
  background-color: #aa2e21 !important;
}

button {
  @include light-button;
}

.right-align {
  display: flex;
  float: right;
}

.left-align {
  display: block;
  float: left;
}

a.back-button {
  display: block;
  position: relative;
  height: 0;
  float: right;
  top: 0.2em;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  line-height: 25px;
}

span.button_link a {
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 5px;
  background-color: #61c1ca;
  color: white;
  display: inline-block;
  margin: 0px 3px 0px;
  padding: 2px 10px 2px 10px;
  height: auto;
  text-decoration: none;
}

//svg.help_icon {
//  background-image: none;
//  border: none;
//  box-shadow: none;
//  text-shadow: none;
//  //border-radius: 5px;
//  background-color: #61c1ca;
//  color: white;
//  display: inline-block;
//  margin: 0px;
//  padding: 5px;
//  height: auto;
//  text-decoration: none;
//}